@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  animation: 500ms zoomOut ease-out;
}

.hearts-container {
  display: flex;
  height: 25px;
}

.heart {
  width: 25px;
  height: 25px;
  margin: 0 2.5px;
}
