.game {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.back-button-link {
  margin-bottom: 70px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.game-current-album {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.game-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
  padding: 0 30px;
}

.game-end-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 3/4;
}

.game-status-msg {
  margin-top: 0;
}

.game-change-settings-link {
  display: block;
  padding: 10px 0;
  margin-bottom: -25px;
  font-size: 14px;
}

.loading-state {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
