.hangman-btn {
  width: 200px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: ChicagoFLFRegular, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
  text-decoration: none;
}

.hangman-btn[disabled] {
  border: none;
  background-image: none;
  cursor: not-allowed;
  opacity: 0.4;
  pointer-events: none;
}

.hangman-btn-warning {
  background-color: #d94c4c;
}

.hangman-btn-warning:hover {
  background-color: #f05544;
}

.hangman-btn-success {
  background: #1abc56;
}

.hangman-btn-success:hover {
  background: #23d464;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-loading-wrapper {
  width: 20px;
  height: 20px;
  margin-left: -20px;
}

.button-text-wrapper {
  margin-left: 10px;
}
