.failed-guesses {
  min-width: 120px;
  min-height: 90px;
}

.failed-guesses__title {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 100;
}

.failed-guesses__letters {
  font-size: 22px;
  text-align: left;
}

.failed-gueeses__letter {
  letter-spacing: 3px;
  font-weight: normal;
}
