.progress {
  height: 50px;
}

.progress-thin {
  height: 6px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.progress-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.progress-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #41b074;
}

.progress-label {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: ChicagoFLFRegular, Krungthep, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
}

.progress-thin-label {
  color: #000;
  font-family: ChicagoFLFRegular, Krungthep, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}
