.modal {
  display: flex;
  width: 290px;
  height: 280px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 0 7px rgb(31, 31, 31);
}

.settings-modal-buttons {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 45px;
}

.settings-modal-credits {
  color: #6b6b6be5;
  font-family: 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}

.settings-modal-credits-name,
.settings-modal-credits-github {
  display: block;
  font-weight: 300;
  text-align: center;
}

.settings-modal-credits-name {
  margin-bottom: 5px;
}

.settings-modal-credits-github {
  font-weight: 100;
}
