.settings-modal-buttons {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 45px;
}

.settings-modal-credits {
  color: #6b6b6be5;
  font-family: 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}

.settings-modal-credits-name,
.settings-modal-credits-github {
  display: block;
  font-weight: 300;
  text-align: center;
}

.settings-modal-credits-name {
  margin-bottom: 5px;
}

.settings-modal-credits-github {
  font-weight: 200;
}

.settings-modal-credits-github a {
  color: #6b6b6be5;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.settings-modal-credits-github a:hover {
  color: #a1a1a1;
}
