.hidden-word-letter {
  width: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a5867;
  border-radius: 10px;
}
.hidden-word-letter span {
  font-size: 50px;
}
