.hidden-album-name {
  display: flex;
  max-width: 95%;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden-word {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.hidden-word-letter {
  display: flex;
  width: 35px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  background-color: #4a5867;
  border-radius: 10px;
}

.hidden-word-letter span {
  font-size: 30px;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .hidden-word-letter {
    width: 70px;
    height: 80px;
  }
}
