.login-button {
  display: flex;
  width: 183px;
  height: 32px;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 10px auto;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  transition: box-shadow 0.3s;
}

.login-button:hover {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
}

.login-button-logo {
  height: 25px;
  margin-right: 10px;
  user-select: none;
}
