.login-button {
  display: flex;
  width: 190px;
  height: 40px;
  align-items: center;
  margin: 10px auto;
  padding-left: 8px;
  background-color: #000;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.login-button:hover {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
}

.login-button-logo {
  height: 25px;
  margin-right: 10px;
  user-select: none;
}
