.landing {
  display: flex;
  width: 200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.landing-username {
  width: 100%;
  margin-bottom: 5px;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.game-option {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.game-option label {
  display: flex;
}
