.keyboard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  border-top: 1px solid gainsboro;
  margin-top: 15px;
}

.keyboard-btn {
  min-width: 45px;
  height: 40px;
  flex: 1;
  padding: 8px 0;
  border: transparent;
  margin: 2px;
  background-color: #3d3d3d;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  outline: none;
}

.keyboard-btn:hover {
  background-color: #585858;
  cursor: pointer;
}

.keyboard-btn-letter {
  display: block;
}

.keyboard-btn-fail {
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-name: red-change;
  font-weight: 600;
}

.keyboard-btn-success {
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-name: green-change;
  font-weight: 600;
}

.game-end-message {
  position: absolute;
  top: 10%;
  display: flex;
  width: 80%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0084ffec;
  border-radius: 5px;
  box-shadow: 0 0 20px #0000008a;
}

@media (min-width: 568px) {
  .keyboard {
    width: 425px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .keyboard {
    width: 450px;
  }

  .keyboard-btn {
    min-width: 51px;
    height: 49px;
    font-size: 17px;
  }
}

@keyframes red-change {
  0% {
    color: white;
  }

  40% {
    color: red;
  }

  50% {
    transform: scale(6, 6);
  }

  100% {
    color: red;
  }
}

@keyframes green-change {
  0% {
    color: white;
  }

  40% {
    color: greenyellow;
  }

  50% {
    transform: scale(6, 6);
  }

  100% {
    color: greenyellow;
  }
}
