.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  border-top: 1px solid gainsboro;
  margin-top: 15px;
}

.keyboard-btn {
  min-width: 45px;
  height: 40px;
  flex: 1;
  padding: 8px 0px;
  border: transparent;
  margin: 2px;
  color: #fff;
  background-color: #273c75;
  border-radius: 3px;
}
