.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  border-top: 1px solid gainsboro;
  margin-top: 15px;
}

.keyboard-btn {
  min-width: 45px;
  height: 40px;
  flex: 1;
  padding: 8px 0;
  border: transparent;
  margin: 2px;
  background-color: #3d3d3d;
  border-radius: 3px;
  color: #fff;
}

.keyboard-btn:hover {
  background-color: #585858;
  cursor: pointer;
}

.keyboard-btn-fail {
  color: #ff3838;
  font-weight: 600;
}

.keyboard-btn-success {
  color: greenyellow;
  font-weight: 600;
}

@media (min-width: 568px) {
  .keyboard {
    width: 425px;
    margin: 0 auto;
  }
}
