.landing-header {
  font-size: 57px;
  font-family: Pangolin, -apple-system, BlinkMacSystemFont;
}

.landing {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.landing-username {
  display: inline-block;
  width: 310px;
  height: 40px;
  padding: 22px 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  vertical-align: middle;
  color: white;
  border: 0;
  background-color: #4a5867;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.landing-username::placeholder {
  color: white;
}

.game-option {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.game-option label {
  display: flex;
  align-items: center;
}

.game-option-radio,
.game-option-checkbox {
  margin-right: 6px;
}
