.landing {
  overflow: hidden;
}

.landing-header {
  margin-bottom: 10px;
  color: #000;
  font-family: ChicagoFLFRegular, Krungthep, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 27px;
  font-weight: normal;
  transform: rotate(-4deg);
  padding: 0 20px;
}

.landing-moving-albums {
  width: 200%;
  height: 180px;
  margin-bottom: 40px;
  background: #000;
  transform: translateX(-100px) rotate(-4deg);
}

.landing-moving-albums-image {
  height: 180px;
  filter: blur(7px);
  animation: left-to-right 15s infinite;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

.landing-game-info {
  display: flex;
  flex-direction: column;
}

.landing-description {
  margin-bottom: 25px;
  padding: 0 50px 0 20px;
  line-height: 21px;
}

.bold-text {
  font-weight: bold;
}

.service-login-button {
  display: flex;
  width: 185px;
  height: 40px;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 20px;
  color: #191919;
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.service-login-button:hover {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
}

.service-button-logo {
  height: 20px;
  margin-right: 10px;
  user-select: none;
}

@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-67.6%);
  }
}

@media (min-width: 667px) {
  .landing-game-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .landing-moving-albums {
    margin-bottom: 50px;
  }

  .landing-description {
    max-width: 400px;
  }
}
