html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Helvetica Neue', sans-serif;
  /* text-align: center; */
  color: #fff;
  background-color: #58b2ff;
}

.container {
  max-width: 250px;
  padding: 25px 10px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.5);
}

@media (min-width: 520px) {
  .container {
    max-width: 480px;
  }
}

.github-icon {
  width: 20px;
  height: 20px;
}

.hangman-btn {
  width: 200px;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  background-color: #e6e6e6;
  border: none;
  border-radius: 2px;
}

.hangman-btn:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.hangman-btn[disabled] {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.success-btn {
  color: #fff;
  background: rgb(28, 184, 65);
}
